body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-top: 0;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

pre {
    font-family: monospace;
    white-space: pre-wrap;
}

.rotate-button {
    margin-top: 20px;
}

.rotate-button button {
    padding: 10px 20px;
    background-color: #073c50;
    color: white;
    border: none;
    cursor: pointer;
}

.reset-button {
    margin-top: 20px;
}

.reset-button button {
    padding: 10px 20px;
    background-color: #073c50;
    color: white;
    border: none;
    cursor: pointer;
}

#rotateButtonContainer {
    display: none;
}